<% comment.each do |com| %>    
  <%= content_tag :div, class: 'media', id: "comment-#{com.id}" do %>
    <div class="media-left">
      <%= image_tag(com.user.avatar.small.url, class: "media-object") if com.user.avatar? %>
    </div>
    <div class="media-body">
      <small>
        <%= com.user.name %> commented <%= time_ago_in_words(com.created_at) %> ago
        <% if policy(com).destroy? %>
          <%= link_to "Delete", [@post, com], method: :delete %>
        <% end %>
      </small>
      <p><%= com.body %></p>
    </div>
  <% end %>
<% end %>


